import(ini)
import(futile.logger)
import(data.table)
import(tools)
import(ggplot2)
import(knitr)
import(rmarkdown)
import(gridExtra)
import(grid)
import(RSQLite)
import(R.utils)
import(methods)
import(openxlsx)
importFrom(kableExtra,"%>%","kable_styling","column_spec","footnote")
importFrom("grDevices", "dev.off", "graphics.off", "colorRampPalette", "jpeg", "png")
importFrom("stats", "complete.cases", "cor", "median", "na.omit",
             "pchisq", "ppoints", "qbeta", "qchisq", "sd")
importFrom("utils", "data", "head", "installed.packages", "menu",
             "modifyList", "packageVersion", "read.table",
             "setTxtProgressBar", "txtProgressBar", "write.table")
importFrom("graphics", "par", "plot.new", "smoothScatter", "text",
             "title")
export(setup_inspector)
export(run_inspector)
export(result_inspector)
export(demo_inspector)
export(compare_GWASs)
export(system_check)
export(get_config)
export(get_headerTranslation)
export(manhattan_plot)
