import(ini)
import(futile.logger)
import(data.table)
import(tools)
import(ggplot2)
import(knitr)
import(rmarkdown)
import(gridExtra)
import(grid)
import(RSQLite)
import(methods)
importFrom(kableExtra,"%>%","kable_styling","column_spec","footnote")
importFrom("grDevices", "dev.off", "graphics.off")
importFrom("stats", "complete.cases", "cor", "median", "na.omit",
             "pchisq", "ppoints", "qbeta", "qchisq", "sd")
importFrom("utils", "data", "head", "installed.packages", "menu",
             "modifyList", "packageVersion", "read.table",
             "setTxtProgressBar", "txtProgressBar", "write.table")
export(setup.inspector)
export(run.inspector)
export(result.inspector)
export(demo.inspector)
export(compare.GWASs)
export(system.check)
export(sqlite.db.check)
export(get.config)
export(get.headerTranslation)
export(manhattan.plot)
